<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<group name="itemProvider" groupName="itemProvider">
				<pipelines>
					<addFromTemplate>
						<processor type="ssdevents.tac.local.Pipelines.RelinkBranchTemplateDatasources, ssdevents.tac.local" />
					</addFromTemplate>
				</pipelines>
			</group>
		</pipelines>
	</sitecore>
</configuration>
